/*
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles in this file instead of style.css so it
is easier to update the theme. Simply copy an existing style
from style.css to this file, and modify it to your liking. */


/* GLOBAL STYLES
----------------
Add styles beneath this line that you want to be applied across your entire site */

/* White background for content thanks! */
#content { 
	background: #FFF; 
	padding-top: 1.618em;
	-webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.51);
	   -moz-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.51);
	        box-shadow: 0px -1px 8px 2px rgba(0,0,0,0.51); 
}

/* Button Gradient Styles */
#wrapper .woo-sc-button.ss-yellow-gradient, .ss-yellow-gradient {
border: 0px solid #f4dc01; 
-webkit-border-radius: 0;
   -moz-border-radius: 0;
        border-radius: 0;
text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
 background-color: #FEEA2F; 
 background-image: -webkit-gradient(linear, left top, left bottom, from(#FEEA2F), to(#FFAD08));
 background-image: -webkit-linear-gradient(top, #FEEA2F, #FFAD08);
 background-image: -moz-linear-gradient(top, #FEEA2F, #FFAD08);
 background-image: -ms-linear-gradient(top, #FEEA2F, #FFAD08);
 background-image: -o-linear-gradient(top, #FEEA2F, #FFAD08);
 background-image: linear-gradient(to bottom, #FEEA2F, #FFAD08);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FEEA2F, endColorstr=#FFAD08);
}

#wrapper .woo-sc-button.ss-orange-gradient, .ss-orange-gradient {
border: 0px solid #F85303; 
-webkit-border-radius: 0; 
   -moz-border-radius: 0;
        border-radius: 0;
text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
 background-color: #F85303; 
 background-image: -webkit-gradient(linear, left top, left bottom, from(#F85303), to(#DB2406));
 background-image: -webkit-linear-gradient(top, #F85303, #DB2406);
 background-image: -moz-linear-gradient(top, #F85303, #DB2406);
 background-image: -ms-linear-gradient(top, #F85303, #DB2406);
 background-image: -o-linear-gradient(top, #F85303, #DB2406);
 background-image: linear-gradient(to bottom, #F85303, #DB2406);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F85303, endColorstr=#DB2406);
}

/* Custom Button Styles and Allignments ----Super high specificity needed thanks to WooThemes :( ---  */
#wrapper .woo-sc-button.button-full { width: 100%; }
.button-subtitle > span > span { 
  font-size: 50%; 
  display: block; 
}
.xl.button-subtitle > span > span { 
  line-height: 0.5em; 
}

/* Nav Bar new hottness */
#navigation {
	max-width: 1165px!important;
	top: -2px;
-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.51);
   -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.51);
        box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.51);
}

#nav-container {
margin-bottom: 0; 
margin: 0 0;
-webkit-box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.51);
   -moz-box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.51);
        box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.51);
 }

 #homepage-widgets .widget_woothemes_features {
 	color: #000;
   background-color: #fff;
  } 

 #homepage-widgets .widget_woothemes_features > h3 {
 	color: #F44D00;
 	font-size: 1.8em;
 	margin-top: 10px;
 }

 .widget_woothemes_features {
 	text-align: center;

 }

#footer-container {
  background: #575757;
}

#wooslider_slideshow_posts-2 h3 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 40px;
}

.widget_woothemes_features .feature .feature-title {
  font-size: 22px;
  color: #F44D00;
}

#connect .social a:before {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

body.full-width #header {
  padding-top: 10px;
  padding-bottom: 10px;
}

body .woo-sc-box.note:before {
  content: none;
  display: none;
}

#text-8 .woo-sc-button {
  margin-bottom: 0;
}

#content {
  padding-bottom: 0;
}

#footer {
  padding-bottom: 0;
}

/* DESKTOP STYLES
-----------------
Add styles inside the media query below that you only want to be applied to the desktop layout of your site */
@media only screen and (min-width: 768px) {
	/* Desktop styles go below this line */

	/* Header Text Widget Allignment (contains the buttons) */
	#text-2 { margin-top: 25px; text-align: right; }

	#wooslider_slideshow_posts-2.widget_wooslider_slideshow_posts {
		background-color: #ffffff;
    border-top: 1px solid #f3f3f3;
    position: relative;
		width: 1080px;
		left: -30px;
		-webkit-box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.51);
		   -moz-box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.51);
		        box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.51);
	}

  #homepage-widgets .widget_woothemes_features .feature {
    margin: 0 1.65% 0;
  }

	#homepage-widgets .widget_woothemes_features .feature img {
	 border: 1px solid #575757;
   -webkit-border-radius: 10px 10px 10px 10px;
      -moz-border-radius: 10px 10px 10px 10px;
           border-radius: 10px 10px 10px 10px;
 
	}

	#homepage-widgets .widget_woothemes_features .columns-1 .feature {
    width: 100%;
    text-align: left;
  }
  #homepage-widgets .widget_woothemes_features .columns-1 .feature img {
    float: left;
    margin: 0em 2em 0 1em;
  }
  #homepage-widgets .widget_woothemes_features .columns-2 .feature {
    width: 47%;
    text-align: left;
  }
  #homepage-widgets .widget_woothemes_features .columns-2 .feature img {
    float: left;
    margin: 0em 2em 0 1em;
  }
  #homepage-widgets .widget_woothemes_features .columns-3 .feature {
    width: 30%;
    text-align: center;
  }
  #homepage-widgets .widget_woothemes_features .columns-3 .feature img {
    float: none;
  }
  #homepage-widgets .widget_woothemes_features .columns-4 .feature {
    width: 21%;
    text-align: center;
  }
  #homepage-widgets .widget_woothemes_features .columns-4 .feature img {
    float: none;
  }
  #homepage-widgets .widget_woothemes_features .columns-5 .feature {
    width: 16%;
    text-align: center;
  }
  #homepage-widgets .widget_woothemes_features .columns-5 .feature img {
    float: none;
  }
  #homepage-widgets .widget_woothemes_features .columns-6 .feature {
    width: 12.4%;
    text-align: center;
  }
  #homepage-widgets .widget_woothemes_features .columns-6 .feature img {
    float: none;
  }
  #homepage-widgets .widget_woothemes_features .feature {
    float: left;
  }
  #homepage-widgets .widget_woothemes_features .feature .feature-content {
    overflow: hidden;
  }

  body.full-header.full-slider #loopedSlider {
  	margin: 15px 0 0;
  }

  #homepage-widgets .widget_woothemes_features .feature {
  margin: 25px 1.65% 20px;
  }
}

.header-widget {
  float: right;
  width: 55%;
  clear: none;
  margin: 0;
}

.mo-openid-app-icons > p{
  display:none !important;
}

.mo-openid-app-icons>a {
  margin-left: unset !important;
  margin: 0 auto !important;
  max-width: 200px !important;
}